{% extends 'base.html' %}
{% block content %}


<div class="attach clr clearfix ignore-select">
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{form.as_p}}

    <button type="submit" value="Upload">Upload</button>
  </form>
    {% for m in mathi %}
    {{m}}
    {% endfor %}

         {% for d in detail %}

    <div class="content__position">
		<div class="content ">
			<h2 class="">{{d.title}}</h2>
			<input type="text">
			<h2>{{d.description}}</h2>
			<textarea name="" id="" cols="30" rows="10"></textarea>
			<button>Загрузить</button>
		</div>
	</div>

{% endfor %}
                                            </div>

{% endblock %}
</body>
</html>