<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

<div class="attach clr clearfix ignore-select">
  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{form.as_p}}

    <button type="submit" value="Upload">Upload</button>
  </form>
    {% for m in mathi %}
    {{m}}
    {% endfor %}

         {% for d in detail %}

                                                <a class="dl-item icon-l" href="" download="{{d.document.url}}" rel="nofollow">
                                                    <div class="dl-title">
                                                        <span class="fa fa-download"></span>
                                                        Скачать Майнкрафт 1.19.40.22 (Бета)
                                                    </div>
                                                    <div>
                                                        apk
                                                        <span></span>
                                                        <span>[165,4 Mb]</span>
                                                        <span>(cкачиваний: 4879)</span>
                                                    </div>
                                                </a>
{% endfor %}
                                            </div>

{% endblock %}
</body>
</html>